<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Página de mostrar</title>
</head>

<body>
    <header>
		<div class="container2">
			<img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Usac_logo.png" width="20%" > 
		</div>	
	</header>

	<div class="container3">
		<div class="btn-group" role="group" aria-label="Toolbar with button groups">
			<button (click)="navegarPrincipal()" type="button" class="btn btn-primary">Principal</button>
			<button (click)="navegarMostrar()" type="button" class="btn btn-primary">Mostrar</button>
			<button type="button" class="btn btn-primary">Buscar</button>
			<button (click)="navegarPerfil()" type="button" class="btn btn-primary">  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/></svg>
                [{{nombreUsuario}}]</button>
		</div>
	</div>

    <main>
		<form [formGroup]="formulario" >


			<div class="container5">
				<input formControlName="busqueda" type="email" id="correo" placeholder="Buscar" name="correo"><br>
				
			</div>
			<div class ="boton">
				<button (click)="buscarComentarios()" type="submit"> Buscar </button>
			</div>




		</form>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div *ngFor ="let item of comentariosFinales" class="col">
				<div class="card h-100" style="width: 21rem;" >
		
					<div class="card-body">
					<h5 class="card-title">Catedrático: {{item.Catedratico}}</h5> 
					<h6 class="card-subtitle mb-2 text-muted">Curso: {{item.Curso}}</h6>
					<p class="card-text">{{item.Comentario}}</p>
					</div>
					<ul class="list-group list-group-flush">
					<li class="list-group-item">Creador del post: {{item.Creador}}</li>
					<li class="list-group-item">Id de creador: {{item.Id_creador}}</li>
					<li class="list-group-item">Fecha: {{item.Fecha}}</li>
					</ul>
					<div class="card-body">

                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <button (click)="buscar(item.Id_creador)" type=submit   class="btn btn-success btn-sm">Perfil del Creador<del></del></button>
                            <button (click)="buscar2(item.Id)" type=submit  class="btn btn-success btn-sm">Foro</button>
                        </div>    

                    </div>

				</div>
			</div>
		</div>




    </main>   

    <footer>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<p>© 2023 - FA</p>
	</footer>


</body>
</html>


