<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="/index.js"></script>
</head>

<body>
    <br><br>

    
    <form [formGroup]="formulario" method="post" (submit)="infoLogin()" autocomplete="off">
        <div class="container2">
            <img src="https://plataformacii.ingenieria.usac.edu.gt/images/logo_fi.png" width="70%" > 
        </div>
        <br>
        <div class="container">
            <label for="username"><b>Usuario</b></label>
            <input  formControlName="registro_academico" type="text" placeholder="Ingrese Nombre" name="username"  id="username"required>

            <label for="password"><b>Contraseña</b></label>
            <input formControlName="pass" type="password" placeholder="Ingrese Contraseña" name="password"  id="password"  required>

            <button  type="submit"  id="ingresar">Ingresar</button>
  

                <br><br>

        </div>

        <div class="container clearfix">
            <span class="psw2"><a href="/registro">Crear Usuario</a></span>
            <span class="psw"><a href="/cambio_pass">Olvide mi contraseña</a></span>
        </div>
    </form>
</body>

<footer class="pie_pagina">
    <br><br>
    <p>© 2023 - FA</p>
</footer>
</html>




